 <meta charset="UTF-8">
</head>
<body>
<div class=login>サービスの概要
   <div class=login_pass>ログイン 新規登録</div></div>
  <h2><p><ul>
    <li><a href="/">top</a></li>
    <li><a href="shop">shop</a></li>
    <li><a href="info">info</a></li>
    </p></ul></h2>
  
  <div><h3>クラシックバイク専門で取り扱いしております。</h3><div>
  <div><h3>販売専門させていただいております。</h3><div>
  <link rel="stylesheet" href="/css/test.css" type="text/css" > 
  <form action="confirm" method="POST">
  </form>

  
</body>
</html>