<html>
<head>
  <meta charset="UTF-8">
</head>
<body>

  <p>
    <a href="shop">shop</a>
    <a href="info">info</a>
    <a href="/">TOP</a>
  </p>
  <h1>概要</h1>
  <form action="confirm" method="POST">
    <div>クラシックバイクを中心に取り扱っています。</div>
  </form>
</body>
</html>