<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
　<p>
    <a href="about">サービス</a>
    <a href="shop">shop</a>
    <a href="info">info</a>
  </p>
  <h1>お問い合わせ内容確認</h1>
  <div>
    <div>
      email: <%=@email%>
    </div>  
    <div>
      本文:
      <p>
        <%=@message%>
      </p>
    </div>    
  </div>
</body>
</html>