<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
<div class=login>Classic Bike Shop
   <div class=login_pass>ログイン 新規登録</div></div>
  <p>
    <div><p><ul>
    <li><a href="about">サービス</a></li>
    <li><a href="shop">shop</a></li>
    <li><a href="info">info</a></li>
    </p></ul></div>
  <h2><p class="smple1"><img src="https://pbs.twimg.com/media/DCaxkxCUQAQqn2N?format=jpg&name=4096x4096" width="1100px" height="600px" ></p></h2>
  <link rel="stylesheet" href="/css/test.css" type="text/css" > 
  <form action="confirm" method="POST">
  </form>

  
</body>
</html>