<html>
<head>
  <meta charset="UTF-8">
</head>
<body><div><h4>
バイクショップ
ログイン
新規登録</h4></div>
  <h2><p>
    <div><a href="about">サービス</a></div>
    <div><a href="shop">shop</a></div>
    <div><a href="info">info</a></div>
    
  </p></h2>
  
  <h2><img src="https://pbs.twimg.com/media/DCaxkxCUQAQqn2N?format=jpg&name=4096x4096" width="600px" height="400px" ></h2>
  <link rel="stylesheet" href="/css/test.css" type="text/css" > 
  <form action="confirm" method="POST">
  </form>
</body>
</html>