<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <p>
    <a href="about">サービスについて</a>
    <a href="shop">shop</a>
    <a href="info">info</a>
    <a heaf="accses">アクセス</a>
  </p>
  <h1>バイクショップ</h1>
  <form action="confirm" method="POST">
  </form>
</body>
</html>