<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <p><ul>
    <li><a href="about">サービス</a></li>
    <li><a href="shop">shop</a></li>
    <li><a href="/">TOP</a></li>
  </p></ul>
  <div class=info>お問い合わせ</div> 
  <form action="confirm" method="POST">
    <div>
      email:<input type="text" name="email" value="">
    </div>
    <div>
      本文:
      <textarea name="message" rows="5"></textarea>
    </div>
    <div>
      <input type="submit" value="送信する">
      <link rel="stylesheet" href="/css/test.css" type="text/css" >
    </div>
  </form>
</body>
</html>