 <meta charset="UTF-8">
</head>
<body>
<div class=login>サービスの概要
   <div class=login_pass>ログイン 新規登録</div></div>
  <h2><p>
    <div><a href="/">top</a></div>
    <div><a href="shop">shop</a></div>
    <div><a href="info">info</a></div>
  </p></h2>
  
  <div><h2><img src="https://scontent-nrt1-1.cdninstagram.com/vp/3f9995d661cfa3bdefaf7d2bdb1b8608/5E4661CB/t51.2885-15/sh0.08/e35/s640x640/34983289_2061383707434656_2926013720997920768_n.jpg?_nc_ht=scontent-nrt1-1.cdninstagram.com&_nc_cat=108" width="200px" height="200px" >
      <img src="https://scontent-nrt1-1.cdninstagram.com/vp/f0e73e1b01d72d3b9185cf32b13c4bf2/5E4B26B2/t51.2885-15/sh0.08/e35/s640x640/35616367_2029848743751724_7709201142219014144_n.jpg?_nc_ht=scontent-nrt1-1.cdninstagram.com&_nc_cat=104" width="200px" height="200px" >
      <img src="https://scontent-nrt1-1.cdninstagram.com/vp/f0e73e1b01d72d3b9185cf32b13c4bf2/5E4B26B2/t51.2885-15/sh0.08/e35/s640x640/35616367_2029848743751724_7709201142219014144_n.jpg?_nc_ht=scontent-nrt1-1.cdninstagram.com&_nc_cat=104" width="200px" height="200px" >
      <img src="https://scontent-nrt1-1.cdninstagram.com/vp/f0e73e1b01d72d3b9185cf32b13c4bf2/5E4B26B2/t51.2885-15/sh0.08/e35/s640x640/35616367_2029848743751724_7709201142219014144_n.jpg?_nc_ht=scontent-nrt1-1.cdninstagram.com&_nc_cat=104" width="200px" height="200px" ><div></div>
      <img src="https://scontent-nrt1-1.cdninstagram.com/vp/f0e73e1b01d72d3b9185cf32b13c4bf2/5E4B26B2/t51.2885-15/sh0.08/e35/s640x640/35616367_2029848743751724_7709201142219014144_n.jpg?_nc_ht=scontent-nrt1-1.cdninstagram.com&_nc_cat=104" width="200px" height="200px" >
      <img src="https://scontent-nrt1-1.cdninstagram.com/vp/f0e73e1b01d72d3b9185cf32b13c4bf2/5E4B26B2/t51.2885-15/sh0.08/e35/s640x640/35616367_2029848743751724_7709201142219014144_n.jpg?_nc_ht=scontent-nrt1-1.cdninstagram.com&_nc_cat=104" width="200px" height="200px" >
      <img src="https://scontent-nrt1-1.cdninstagram.com/vp/f0e73e1b01d72d3b9185cf32b13c4bf2/5E4B26B2/t51.2885-15/sh0.08/e35/s640x640/35616367_2029848743751724_7709201142219014144_n.jpg?_nc_ht=scontent-nrt1-1.cdninstagram.com&_nc_cat=104" width="200px" height="200px" ></h2>
  <link rel="stylesheet" href="/css/test.css" type="text/css" > 
  <form action="confirm" method="POST">
  </form>

  
</body>
</html>