a{
  margin: 10px 28px 0 30px;
  color: #364e96;
}
h1{
  
  border: solid 3px #364e96;/*線色*/
  padding: 0.5em;/*文字周りの余白*/
  border-radius: 0.5em;/*角丸*/
}
h2{
  float: left;
  color: #364e96;/*文字色*/
  border: solid 3px #364e96;/*線色*/
  padding: 0.5em;/*文字周りの余白*/
  border-radius: 0.5em;/*角丸*/
  margin: inherit;
  height: 630px
  
}
h4{
  color: #364e96;/*文字色*/
  border: solid 3px #364e96;/*線色*/
  padding: 0.5em;/*文字周りの余白*/
  border-radius: 0.5em;/*角丸*/
  width: 820px;
}
.login{
  display: flex;
  color: #364e96;/*文字色*/
  margin: 0 10px;
  font-size: 22px;
}
.login_pass{
  margin: 0px 470px;
}
.info{
  color: #364e96;/*文字色*/
  border: solid 3px #364e96;/*線色*/
  padding: 0.5em;/*文字周りの余白*/
  border-radius: 0.5em;/*角丸*/
}
img{
  border-radius: 35px; /* ちょっとだけ角丸 */
}